lawnicons-develop/
templates/icons_template/res/drawable-xxhdpi/*
output/
backup/
test/svg1
.cache/
*.pyc
clean.py
_sketch.md

!cache_info.json
!cached_masks.tar.lz4

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

venv/
ENV/
env/
.env/
.venv/
.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db 



